html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border-radius: 3px;
  border: 3px solid #9a816d;
  padding: 1rem;
  text-decoration: none;
  font-family: Georgia, serif;
  font-weight: normal;
  color: #785439;
  text-align: center;
}

.link-card h2 {
  margin: 0 0 1rem;
  color: #512200;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

p {
  padding: 0 0 1rem;
  margin: 0;
  color: #512200;
  font-family: Georgia, serif;
  font-size: 1rem;
  text-align: left;
  border-bottom: 2px solid #9a816d;
}

dl {
  display: inline-block;
  color: #512200;
  font-size: .875rem;
  padding: 0 0 1rem;
  border-bottom: 2px solid #9a816d;
  text-align: left;
}

dt {
  display: inline-block;
  width: 45%;
}

dd {
  font-style: italic;
  display: inline-block;
  width: 45%;
}

.btn {
  display: inline-block;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #f0eee8;
  font-size: 1.125rem;
  text-decoration: none;
  background-color: #785439;
  border-radius: 8px;
  padding: .4rem .75rem .5rem;
  text-align: center;
  margin: 0;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}
